html,body{
    margin: 0;
    padding: 0;
    font: 100%/1 "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.container{
    width: 100%;
    background-color: #f5f5f5;
}
.header{
    background-color: #356689;
    width: 100%;
    color: #FFF;
    min-height: 400px;
}
.header-title{
    text-align: center;
    padding-top: 200px;
    font-size: 3.5em;
}

.content{
    padding: 100px 0;
    font-size: 12px;
    line-height: 24px;
    color: #4b505a;
}

.content a{
    text-decoration: none;
    color: #eb2344;
}

.sub-content{
    margin: 0 auto;
    width: 400px;
}

.sub-content dt {
    float: left;
    width: 140px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sub-content dd {
    margin-left: 160px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .content{
        padding: 50px 0;
    }
    .header{
        min-height: 200px;
    }
    .header-title{
        padding-top: 90px;
        font-size: 1.5em;
    }
    .sub-content{
        width: 320px;
    }
}
