.toolbar .menu *, *, :after, :before {
    box-sizing: border-box;
}

.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#toolbar{
    background-color: #333;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 76px;
    z-index: 111;
}

#toolbar .menu .menu-item {
    border-radius: 6px;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    float: left;
    margin: 8px 8px 0;
    position: relative;
    padding: 8px;
}

#toolbar .menu .menu-item.modal-indicator {
    background-color: #eee;
    box-shadow: 0 1px 3px 0 #000,inset 0 -2px 0 0 rgba(0,0,0,.3);
}

#toolbar .menu .menu-item.modal-indicator[style*="(0, 0, 0)"]{
    box-shadow: 0 1px 3px 0 #000,inset 0 -2px 0 0 rgba(0,0,0,.3),inset 0 -1px 1px 2px rgba(255,255,255,.35);
}

.portrait #toolbar .menu .menu-item {
    width: 44px;
    height: 44px;
    padding: 10px;
    margin: 6px 0 0 6px;
}

#toolbar .menu .sizes>div:first-child{
    position: relative;
    height: 100%;
}

#toolbar .menu .sizes .tool-size-0{
    -webkit-transform: scale(.2);
    -ms-transform: scale(.2);
    transform: scale(.2);
}

#toolbar .menu .sizes .tool-size-1{
    -webkit-transform: scale(.4);
    -ms-transform: scale(.4);
    transform: scale(.4);
}

#toolbar .menu .sizes .tool-size-2{
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
}

#toolbar .menu .sizes .tool-size-3{
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}

#toolbar .menu .sizes .tool-size-4{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#toolbar .menu .tools{
    padding: 18px;
}

.portrait #toolbar .menu .tools {
    padding: 10px;
}

#toolbar .menu .menu-item .sub-menu{
    position: absolute;
    left: 74px;
    top: 0;
    border-radius: 6px;
    background-color: #323232;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    opacity: 0;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
}

#toolbar .menu .menu-open .sub-menu{
    opacity: 1;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
}

#toolbar .menu .menu-item .sub-menu.col-8{
    width: 480px;
}

#toolbar .menu .sub-menu .menu-item{
     padding: 9px;
     margin: 0;
}

#toolbar .menu .sub-menu .menu-item:hover{
    background-color: #000;
}

#toolbar .menu .colors .menu-item .color-icon{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px 0 #000, inset 0 -2px 0 0 rgba(0, 0, 0, .3),inset 0 -2px 0 0 rgba(255, 255, 255, .35);
}

#toolbar .menu .menu-item .sub-menu.col-5{
    width: 300px;
}

#toolbar .menu .menu-item svg{
    width: 42px;
    height: 42px;
}

#toolbar .menu .menu-item .sub-menu svg *{
    fill: #eee;
}

#toolbar .menu .menu-item svg *{
    fill: #3e3e3e;
    -webkit-transition: fill .2s;
    -moz-transition: fill .2s;
    transition: fill .2s;
}

#toolbar .menu .tools svg{
    width: 24px;
    height: 24px;
}

#toolbar .menu .menu-item .sub-menu.col-6{
    width: 360px;
}

#toolbar .menu .tools .sub-menu .menu-item{
    padding: 18px;
    margin: 0;
}

@media screen and (orientation: portrait) {
    #toolbar {
        width: 100%;
        height: 56px;
    }
}

@media screen and (max-width: 990px) and (orientation: landscape) {
    #toolbar{
        width: 56px;
    }
}

#content {
    position: absolute;
    top: 0;
    left: 74px;
    right: 0;
    bottom: 0;
    font-size: 14px;
    overflow: hidden;
    color: #000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* 观察者距z=0平面的距离 */
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

#content .canvas-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow: hidden;
    cursor: crosshair;
}

#content .canvas-wrapper canvas{
    position: absolute;
    left: 0;
    top: 0;
}